.form-group{
    padding: 20px;
}

#question{
    padding: 20px !important;
}

#show-cutomer-details {
    display: none; /* Initially hide the details */
    margin-top: 20px;
}

#show-cutomer-details div {
    margin-bottom: 10px;
    font-weight: bold;
}

#show-cutomer-details div span {
    font-weight: bold;
    margin-right: 10px;
}

@media only screen and (max-width: 420px){
    #form{
        width: 300px !important;
    }
    .btn{
        margin-bottom: 10px;
    }

    #show-cutomer-details{
        width: 300px !important;
    }
}