.cart-item-pic {
    border: 5px solid black;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block; /* Add display: block; for vertical-align to work */
    margin: 0 auto; /* Center the image horizontally */
}

td {
    vertical-align: middle;
    font-weight: bold;
}

td:nth-child(1) {
    width: 20%;
    height: auto;
}


