/* Contains all radio buttons and labels*/
.filter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Label of options */
.filter label {
    color: white;
    width: fit-content;
    margin: 10px;
}

/* Container tha contains all the item instances */
.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    margin: 50px;
}


/* Block that contains all info of one item*/
.item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around; 
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    height: 350px;
}

.item-block:hover {
    /* background-color: #e2e6ea; */
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    transition: all 0.2s;
}


/* Pic of item in block*/
.item-pics {
    width: 100%;
    max-width: 150px;
    height: auto;
    max-height: 10rlh;
}

.item-name{
    margin-top: 10px; 
    margin-bottom: 10px;
    font-weight: bold; 
}
/* Price of item in block*/
.item-price {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Block holding the filter options*/
.animation-container1{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 420px){
    .filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }


    .items-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px; 
        margin: 50px;
    }
}